@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Open+Sans:wght@400;600;700&display=swap');

// * colors
$white: #ffffff;
$black: #000000;
$primary: #ff4c61;
$secondary: #e6e6e6;

// * primary sections
$bg-primary: #111111;

// * Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// * sizes vars
$sp100: 100%;
$sv100: 100vh;

// * viewport
$screen-width-850: 850px;
