<!DOCTYPE html>
<html lang="es-PE">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1f2233" />
	<title>AOS EXAMPLES - <%= title %></title>
	<link rel="icon" type="image/png" href="./favicon/favicon-32x32.png">
	<link href="./style.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<header id="header-container">
		<%- include('partials/navegation') %>
	</header>
	<main id="primary-content" class="size-100p-a m-p-0">
		<section class="main__section size-100p-a d-flx all-c f-col">
			<h1 class="main__title m-p-0"><%= title %> EXAMPLES</h1>
			<a href="https://michalsnik.github.io/aos" class="p-r" target="_blank">>> Página de la libreria <<</a>
		</section>
		<div>
			<hr />
		</div>
		<section class="main__section size-100p-a">
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-up"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-up"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-down"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-down"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-right"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-right"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-left"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-left"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
		</section>
		<div>
			<hr />
		</div>
		<section class="main__section size-100p-a">
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-up-right"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-up-right"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-up-left"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-up-left"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-down-right"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-down-right"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" data-aos="fade-down-left"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><span class="code-data">data-aos=</span><span class="code-class">"fade-down-left"</span>&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
		</section>
		<div>
			<hr />
		</div>
	</main>
	<footer id="footer-container" class="size-100p-a"></footer>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>