<!DOCTYPE html>
<html lang="es-PE">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1f2233" />
	<title>AOS EXAMPLES - <%= title %>
	</title>
	<link rel="icon" type="image/png" href="./favicon/favicon-32x32.png">
	<link href="./style.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
	<header id="header-container">
		<%- include('partials/navegation') %>
	</header>
	<main id="primary-content" class="size-100p-a m-p-0">
		<section class="main__section size-100p-a d-flx all-c f-col">
			<h1 class="main__title m-p-0">
				<%= title %> EXAMPLES
			</h1>
			<a href="https://michalsnik.github.io/aos" class="p-r" target="_blank">--> Página de la libreria <--</a>
		</section>
		<div>
			<hr />
		</div>
		<section class="main__section size-100p-a">
			<div class="d-grd">
				<div class="aos__example__box" 
					data-aos="fade-up"
   					data-aos-delay="50"
   					data-aos-duration="600"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-up"</span><br /><span class="code-data">data-aos-delay=</span><span class="code-class">"50"</span><br /><span class="code-data">data-aos-duration=</span><span class="code-class">"600"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box"
					data-aos="fade-down"
   					data-aos-delay="100"
   					data-aos-duration="1000"
    				data-aos-easing="ease-in-out-back"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container m-l-10p">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-down"</span><br /><span class="code-data">data-aos-delay=</span><span class="code-class">"100"</span><br /><span class="code-data">data-aos-duration=</span><span class="code-class">"1000"</span><br /><span class="code-data">data-aos-easing=</span><span class="code-class">"ease-in-out-back"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box" 
					data-aos="fade-right"
   					data-aos-delay="50"
   					data-aos-duration="300"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-right"</span><br /><span class="code-data">data-aos-delay=</span><span class="code-class">"50"</span><br /><span class="code-data">data-aos-duration=</span><span class="code-class">"300"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box"
					data-aos="fade-left"
   					data-aos-delay="150"
   					data-aos-duration="400"
    				data-aos-offset="300"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-left"</span><br /><span class="code-data">data-aos-delay=</span><span class="code-class">"150"</span><br /><span class="code-data">data-aos-duration=</span><span class="code-class">"400"</span><br /><span class="code-data">data-aos-offset=</span><span class="code-class">"300"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
		</section>
		<div>
			<hr />
		</div>
		<section class="main__section size-100p-a">
			<div class="d-grd">
				<div class="aos__example__box"
					data-aos="fade-up-right"
    				data-aos-easing="ease-in-out"
   					data-aos-delay="200"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container m-l-15p">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-up-right"</span><br /><span class="code-data">data-aos-easing=</span><span class="code-class">"ease-in-out"</span><br /><span class="code-data">data-aos-delay=</span><span class="code-class">"200"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box"
					data-aos="fade-up-left"
    				data-aos-easing="ease-out-cubic"
   					data-aos-duration="700"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container m-l-15p">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-up-left"</span><br /><span class="code-data">data-aos-easing=</span><span class="code-class">"ease-out-cubic"</span><br /><span class="code-data">data-aos-delay=</span><span class="code-class">"700"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box"
					data-aos="fade-down-right"
    				data-aos-easing="ease-in-cubic"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container m-l-15p">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-up-right"</span><br /><span class="code-data">data-aos-easing=</span><span class="code-class">"ease-in-cubic"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
			<div class="d-grd">
				<div class="aos__example__box"
					data-aos="fade-down-left"
					data-aos-duration="1000"
    				data-aos-offset="400"></div>
				<div class="code-use">
					<pre class="d-flx all-c size-100p m-p-0">
					<code class="d-flx all-c size-100p m-p-0">
					    <span class="code-container">&lt;<span class="code-tag">div </span><br /><span class="code-data">data-aos=</span><span class="code-class">"fade-down-left"</span><br /><span class="code-data">data-aos-duration=</span><span class="code-class">"1000"</span><br /><span class="code-data">data-aos-offset=</span><span class="code-class">"400"</span><br />&gt;<span class="code-tag">&lt;/div&gt;</span>
					</code>
					</pre>
				</div>
			</div>
		</section>
		<div>
			<hr />
		</div>
	</main>
	<footer id="footer-container" class="size-100p-a"></footer>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>

</html>