<nav id="navbar" class="d-flx j-b">
	<div class="nav__section d-flx all-c">
		<h2 class="nav__title">AOS EXAMPLES</h2>
	</div>
	<div class="nav__section">
		<ul class="nav_ul d-flx size-100p">
			<li class="nav__item d-flx a-c">
				<a href="/" class="nav__link">FADE</a>
			</li>
			<li class="nav__item d-flx a-c">
				<a href="/flip" class="nav__link">FLIP</a>
			</li>
			<li class="nav__item d-flx a-c">
				<a href="/zoom" class="nav__link">ZOOM</a>
			</li>
		</ul>
	</div>
</nav>